@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.input {
  @apply flex h-10 w-[60%] rounded-md border px-3 py-2 text-sm;
}
.modal-submit {
  @apply absolute bottom-[-50px] left-[-0.5px] w-[450px] rounded-bl-md rounded-br-md border border-none bg-black py-3 font-bold text-white;
}
.modal-content {
  @apply relative flex w-[450px] flex-col items-center justify-center gap-6 rounded-tl-md rounded-tr-md border bg-white p-[20px] shadow-md;
}
.modal-container {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-70;
}
.flex-center {
  @apply flex items-center justify-center;
}
.flex-j-center {
  @apply flex justify-center;
}
.flex-i-center {
  @apply flex items-center;
}
.flex-j-i-center {
  @apply flex items-center justify-center;
}
.flex-i-text-center {
  @apply flex items-center text-center;
}
.flex-j-text-center {
  @apply flex justify-center text-center;
}
.mypage-sub-title {
  @apply h-[40px] w-[206px] rounded-[10px] border bg-black px-4 py-2 font-bold text-white;
}
